<h1>Add A New Picture</h1>

<%= form_tag(new_picture_url, :method => "post") do %>

  <div>
    <label for="the_caption">Caption:</label>
    <%= text_field_tag :source %>
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <%= text_field_tag :source %>
  </div>
  <div>
    <input type="submit" value="Create Picture">
  </div>
<% end %>